---
import '@/styles/global.css'
import AppHeader from '@/components/AppHeader.astro'
import AppFooter from '@/components/AppFooter.astro'

export interface Props {
  title: string
  description: string
  cannonical?: string
  keywords: string
}

const { title, description, cannonical, keywords } = Astro.props as Props
---

<!doctype html>
<html lang='pl'>
  <head>
    <script
      src='https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js'
      defer></script>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/x-icon' href='/favicon.svg' />

    <meta name='robots' content='index, follow' />
    <meta name='generator' content={Astro.generator} />
    <link rel='canonical' href={cannonical} />
    <title>{title}</title>
    <meta name='description' content={description} />
    <meta name='keywords' content={keywords} />
    <meta property='og:type' content='website' />

    <meta
      property='og:title'
      content={'Klimatbp Mateusz Gadomski - klimatyzacja i rekuperacja'}
    />
    <meta
      property='og:description'
      content={'Renomowany instalator klimatyzacji i rekuperacji Biała Podlaska - Klimatbp.'}
    />
    <meta property='og:url' content={'https://klimatbp.com'} />
    <meta property='og:image' content={'https://klimatbp.com/og-image.png'} />
    <meta property='og:locale' content={'pl'} />

    <meta name='DC.identifier' content='https://klimatbp.com' />
    <meta name='DC.creator' content='Kacper Saweczko' />
    <meta name='DC.language' content='pl' />
    <meta name='DC.type' content='website' />
    <meta name='DC.format' content='text/html' />
    <meta name='DC.rights' content='Klimatbp Mateusz Gadomski' />
    <meta
      name='DC.subject'
      content={'Klimatyzacja, wentylacja, rekuperacja Biała Podlaska'}
    />
    <script is:inline type='application/ld+json'>
      {
        "@context": "https://schema.org",
        "@type": "LegalService",
        "name": "Klimatbp Mateusz Gadomski",
        "image": "https://klimatbp.com/og-image.png",
        "@id": "https://klimatbp.com",
        "url": "https://klimatbp.com",
        "telephone": "+48 504 450 671",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "ul. Robotnicza 38",
          "addressLocality": "Biała Podlaska",
          "postalCode": "21-500",
          "addressCountry": "PL"
        },

        "openingHoursSpecification": {
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"],
          "opens": "08:00",
          "closes": "20:00"
        },
        "founder": {
          "@type": "Person",
          "name": "Mateusz Gadomski"
        },
        "identifier": [
          {
            "@type": "PropertyValue",
            "propertyID": "NIP",
            "value": "5372583093"
          }
        ],
        "description": "Instalator klimatyzacji i rekuperacji w Białej Podlaskiej.",
        "email": "kontakt@klimatbp.com"
      }
    </script>
  </head>
  <body class='overflow-x-hidden'>
    <AppHeader />
    <main>
      <slot />
    </main>
    <AppFooter />
  </body>
</html>
